*.user
.vs/
bin/
obj/
.env
*.env.local
*.env.*.local
node_modules/
.DS_Store
*.log
*.suo
*.swp
*.orig

# Secrets and Local Config
appsettings.json
appsettings.Development.json
appsettings.Local.json
launchSettings.json